
.campo{
    display: block;
    width: 50%;
    margin-left: 1%;
}
.campos{
    margin-bottom: 5%;
}
.opcoes{
    margin-left: 1%;
}
span input{
    margin-left: 1%;
    width: 200px;
}
.mensagem{
    margin-right: 79%; 
    margin-top: 5%;
    font-size: 150%;
}

table{
    display: inline-table;
}

.oculto{
    display: none;
}
.campo1{
    margin-left: 30%;
    width: 40%;
    margin-bottom: 5%;
}
input{
    text-align: left;
}
span{
    text-align: left;
}
figure{
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 10%;
}

img{
    width:50px;
    height: 50px;
}
button{
    margin-top: 1%;
    margin-right:90%;
}
.figuras{
    margin-top: 5%;
}
h1,h2,h3{
    text-align: center;
}
.configuracao{
    margin-bottom: 10%;
}